# 6-5-2026: dit zijn de bestanden die git bij committen en upload negeert want
# deze worden aangemaakt bij runnen: Deze geldt voor meerdere projecten dus
# we verplaatsen hem naar root

#23-6-2026: deze aangevuld met 'engines'. dat zijn doomengine, rct2 engine etc

# Build files (C++)
*.o
*.exe
*.obj
*.pdb
*.ilk
*.ilk
*.vcxproj.user

# VS Code
.vscode/

# build output
Debug/
Release/

# Python cache
__pycache__/
*.pyc

#Engines
Engines/
Projects/Stamboomprogramma/

# Separate repositories (neergezet per 14-7-2026:opdelen)
Projects/BoostAudio/